.copyright
    - let hexoURL = "https://hexo.io/";
    - let apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - let currentDate = new Date();
    - let year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-apollo].
    p Hosted by #[a(href="https://pages.coding.me", style="font-weight: bold") Coding Pages]. 本窝已经运行#[b(id='runningDays') ] 天...
    script(type='text/javascript').
        let start_time = Date.UTC(2017, 7, 17);
        let now = new Date();
        let runningDays = (Date.UTC(now.getFullYear(), now.getMonth(), now.getDay())-start_time)/86400000.00;
        let ele = document.getElementById('runningDays');
        ele.innerHTML = runningDays;
        console.log('\t -- stay hungry, stay foolish --\t\n\t\t\tSteve Jobs, 1955——2011\n');
