meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title 
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/apollo.css"))
script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js")
script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js")
script(src="/js/dragon.js")
- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
