doctype
html(lang=config.language)
    head
        include head
    body(onload="start_()")
        .wrap
            header
                .world-container
                    include dragon
                .nav-container
                    include nav
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
