header {
    min-height: 60px;

    
    .nav {
        float: none;
        left: 80px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
