.copyright
    - let currentDate = new Date();
    - let year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author]. Built with love....
    script(type='text/javascript').
        console.log('\t -- stay hungry, stay foolish --\t\n\t\t\tSteve Jobs, 1955——2011\n');
