html {
    background-color: #fdf6e3;
    color: #657b83;
}

body {
    font-family: 'sourcesanspro';
    text-align: justify;
}

p {
    font-size: 1em;
    line-height: 150%
}

a {
    color: #b68900;
    text-decoration: none
}

a:visited {
    color: #b68900;
    text-decoration: none
}

a:hover {
    color: #b68900;
    text-decoration: underline
}

a:active {
    color: #b68900;
    text-decoration: none
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
}

.nav-container {
    float: right;
}

.nav {
    text-align: center;
}

.nav-item {
    display: inline;
    list-style: none;
    padding: 5px 5px;
}

.wrap {
    max-width: 600px;
    margin: auto;
    padding: 30px 10px 60px 10px;
}

.post-list-item {
    list-style: none;
}

/** Archive **/
.archive {
}

/** POST **/
.post-title-link {
}

.post-info {
    margin-top: 7px;
    float: left;
}

/* paginator */
.paginator {
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
}

/* footer */
.copyright {
    padding-left: 20px;
}

@font-face {
    font-family: 'sourcesanspro';
    src: url("../font/sourcesanspro.woff2") format("woff2"), url("../font/sourcesanspro.woff") format("woff");
    font-weight: normal;
font-style: normal; }
